body {
    background: linear-gradient(#a2d2ff, #efb0c9);
    color: #ffffff;
    font-family: "Happy Monkey", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
::selection {
    background-color: rgb(208, 0, 255);
}
#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#avatar {
    width: 170px;
    height: 170px;
    border: 6px solid #efb0c9;
    border-radius: 50%;
}
h1, h2 {
    text-shadow: 0px 0px 1px black;
}
#birth-date {
    background: #efb0c9;
    padding: 5px 10px;
    border-radius: 5px;
}
.gift-section {
    margin-top: 30px;
}
.gift-caption {
    margin-bottom: 10px;
}
h3 {
    margin-top: 0;
}
.gift-img {
    width: 400px;
    height: 400px;
    background: url("gift-cover.jpg");
    background-size: cover;
    border: 6px solid white;
    border-radius: 10px;
    margin: 0 auto;
}
#gift-face:hover {
    background: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExMXd1N2tsMjYyYzIwMWpmdGplZDNwN2F6dmY3YmliYXU4YmU4MWRrMSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/QkSR6Z2tvCizu/giphy.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#gift-beautiful:hover {
    background: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExZHJnNTBjbnI0aDRqYXZuYnZzb2l1NXNlMjJ4ZXAyN3p2aDRsYmlyciZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l3V0nzIFlQPh5LXYk/giphy.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#gift-genius:hover {
    background: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExaW5jOWZucmJqODFka3J2Zmo2dHI0MWloanIydm52OW9oMnBkY2pjZiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/LfT5GFFYXX7T2dCOVL/giphy.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#gift-badass:hover {
    background: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExYmtmdjFhYjNmcHBtZWJ5Y3BrbG1mbzZ6c2lxamI1Nm5id3FsYnN4YyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/lTLV2erK8vf1MIz4Rk/giphy.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#gift-final:hover {
    background: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExb2VoOG9saTRqeDA2cXlxNjQ3emVlbHZ0cmt5d2hzcTNpMGR0cnFwZyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/wO4cyxpDbtHji/giphy.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
@media (max-width: 650px) {
    body {
        text-align: center;
    }
    
    .responsive {
        max-width: 100%;
        height: auto;
    }
}
#footer {
    width: 400px;
    margin: 40px auto 20px;
    font-style: italic;
}
span {
    border-bottom: 2px solid white;
}